# Ignore node_modules directory
/node_modules

# Ignore .env files (containing environment variables)
.env

# Ignore log files
*.log

# Ignore npm debug logs
npm-debug.log

# Ignore macOS system files
.DS_Store

# Ignore VSCode workspace settings
.vscode/

# Ignore Pug cache
.pug-cache/

# Ignore built files (if any)
/build/
/dist/